<div class="ms-Commandbar"></div>
<div class="doc-view">
  <div class="outer-container">
    <div class="content-container">
      <div class="doc-container">
        <div class="pc editorcontainer">
          <div class="doc-title-box">
            <span id="doc-title" class="doc-title-editor" contenteditable="true" #_title (blur)="changeTitle()">{{article.title}}</span>
            <button class="ms-Button" (click)="save()">保存</button>
          </div>
          <div class="doc-title-box"></div>
          <div id="outerdocbody">
            <div id="innerdocbody" class="innerdocbody">
              <div class="content">
                <div>
                  作者：
                  <span contenteditable="true" #_author (blur)="changeAuthor()" style="outline:none">{{article.author}}</span>
                </div>
                <app-line-editor *ngFor="let index of article.pidList" [pid]="index" [author]="article.content[index].author" [content]="article.content[index].content"
                  [time]="article.content[index].time" (paragraph)="edit($event)" (add)="add($event)"></app-line-editor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="editable-footer">
    <span class="footer-copy">
      <span>文档编写于</span><span>集思</span>
    </span>
  </div>
</div>